html body {
  background-color: #fff;
  color: #000;
}

html body .container-logo a img {
  width: 60px;
}


html body .bg-dark {
  background-color: #e00000 !important;
}

/* body .navbar-dark .navbar-toggler {
  border-color: #000;
} */

body .navbar-dark .navbar-nav .nav-link {

  color: #fff;
  font-weight: bold;
}

body .card-header-special {
  background: url("../images/topo-card.jpg") no-repeat top center;
  background-size: 100%;
  text-align: center;
  font-size: 26px;
  color: #fff9ce;
  text-transform: uppercase;
}

body #logo-top {    
  width: 62px;
  height: 70px;
  display: block;
  background: url(../images/logo-fifa.png) no-repeat top left;
  background-size: cover;
}

body .perfil-topo-container img {
  width: 100%;
  margin-bottom: 20px;
}

body .card {
  background: #fff;
  border: 0;
}

body .card-title {
  margin-bottom: -10px;
  border-bottom: 1px solid #000;
}

body .card-header {
  background: none;
  border: 0;
  text-align: center;
}

body .card-body {

  height: 400px;
  overflow: auto;
}
body .container .row .card {
  /* border: 1px solid #000;
  margin: 1%; */
}



.perfil .progress-bar {
  background-image: linear-gradient(45deg, 
    rgba(128, 3, 3, 0.845) 25%, 
    transparent 25%, 
    transparent 50%, rgba(128, 3, 3, 0.845) 50%, 
    rgba(128, 3, 3, 0.845) 75%, 
    transparent 75%, 
    transparent);
  background-color: #000;
}
.perfil .progress {
  background-color: #111;
}

.table-ver-mais {
  text-align: right;
}

.img-mercado-da-bola {
  width: 40%;
  display: block;
  position: relative;
  right: 0;
  float: right;

}

.redes-sociais {
  display: block;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.redes-sociais li {
  display: block;
  float: left;
  margin: 0%;
  padding: 0%;
  width: 30%;
}

.redes-sociais img {
  width: 100%;
}

.form-group #table-players {
  height: auto;

  /* overflow: hidden; */
  /* display: block; */
  margin-bottom: 20px;
}


html body .btn-primary {
  background: #0033ed !important;
}

html .table {
  border-right: 5px solid #e00000;
  border-left: 5px solid #e00000;
  border-bottom: 1px solid #000;
}

html a {
  color: #000;
}

html a:hover {
  color: #0033ed;
  text-decoration: none;
}

html .form-control {
  background: #fff;
  border: 1px solid rgba(0, 0, 255, 1);
}

/* html #top {
  background: url('../images/top01.jpg') no-repeat top left;
  background-size: 100%;
} */

/* 
#team-top div {
  width: auto;
  height: auto;
  display: block;
  position: relative;
}

#team-top div::after {
  content: "";
  background: url('../images/badges/2killgaming.png') no-repeat bottom right;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

#team-badge img {
  opacity: 0.5;
  height: 400px;
  position: relative;
  left: 50%;
}

#team-player {
  position: absolute;
  top: 110px;
  right: 10%;
  left: 10%;
  width: 80%;
}
#team-info {
  text-align: center;
}



@media (max-width: 800px) {

  html #top {
    background-size: 194%;
  }

  html #btn-submit {
    width: 100%;
  }

  #team-player {
    position: absolute;
    top: 110px;
    right: 2%;
    left: 2%;
    width: 104%;
  }

  #team-badge img {
    opacity: 0.5;
    height: 400px;
    position: relative;
    left: 0%;
  }

}
